h1, li{
    color: #fff;
}
body{
    background: #1b1b1b;
}

a.btn{
    font-family: system-ui;
    text-decoration: none;
    background: #00abfa;
    padding: 9px 23px;
    color: #fff;
    font-size: 17px;
    text-transform: uppercase;
    font-weight: 700;
    border-radius: 3px;
}

.description{
    background: #fff
}

.title-row{
    padding-top: 100px;
    margin: 0 auto;
}
